.Shop {
    margin-top: 237px;
    padding: 0px 20px;

    .shop_content {
        max-width: 1245px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin-top: 400px;

        .shop_one {
            max-width: 1135px;
            border-radius: 20px;
            background: #EDF2F4;
            position: absolute;
            z-index: 2;
            display: flex;
            gap: 90px;
            padding: 22px 33px;

            .shop_one_left {
                .shop_text1 {
                    max-width: 633px;
                    font-family: "Inter400";
                    font-size: 48px;
                    font-weight: 400;
                    line-height: 60px;
                    color: #FF0000;
                    margin-bottom: 19px;
                    margin-top: 22px;
                }

                .shop_text2 {
                    max-width: 648px;
                    font-family: "Inter400";
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 25px;
                    color: #000000;
                }

                .shop_btn {
                    width: 251px;
                    height: 60px;
                    border-radius: 20px;
                    background: #FF0000;
                    cursor: pointer;
                    transition: .5s;
                    border: 1px solid #FF0000;
                    font-family: "Inter400";
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 31.34px;
                    text-align: center;
                    color: #FFFFFF;
                    margin-top: 33px;
                    transition: .5s;

                    &:hover {
                        background: none;
                        transition: .5s;
                        color: #FF0000;
                    }
                }
            }

            .shop_img {
                max-width: 320px;
                height: 320px;
            }
        }

        .shop_two {
            width: 532px;
            height: 500px;
            background: #003049;
            position: absolute;
            z-index: 1;
            left: 57%;
        }
    }
}


@media (max-width:1280px) {
    .Shop {
        .shop_content {
            align-items: center;
            justify-content: center;

            .shop_two {
                display: none;
            }
        }
    }
}

@media (max-width:970px) {
    .Shop {
        .shop_content {
            align-items: center;
            justify-content: center;

            .shop_one {
                .shop_one_left {
                    .shop_text1 {
                        font-size: 30px;
                        line-height: 35px;
                    }
                }
            }
        }
    }
}

@media (max-width:875px) {
    .Shop {
        .shop_content {
            align-items: center;
            justify-content: center;

            .shop_one {
                flex-direction: column-reverse;
                align-items: center;
                justify-content: center;
                margin-top: 300px;

                .shop_one_left {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    .shop_text1,
                    .shop_text2 {
                        text-align: center;
                    }
                }

                .shop_img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

@media (max-width:400px) {
    .Shop {
        .shop_content {
            .shop_one {
                .shop_one_left {
                    .shop_text1 {
                        font-size: 20px;
                    }

                    .shop_text2 {
                        display: none;
                    }
                }

            }
        }
    }
}